.init_loading_bg {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    background-color: var(--color-background-1);
}

.init_loading {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vh auto;
    text-align: center;
    transition-duration: 0.5s;
    user-select: none;
}

.init_loading .init_loadingImg {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: var(--color-shadow-s) var(--color-primary-normal) var(--color-shadow-s) var(--color-primary-normal);
    border-image: initial;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition-duration: 0.5s;
}

.init_loading .init_loadingImg .init_loading_logo {
    transform: rotate(-45deg);
    transition-duration: 0.5s;
    animation: 1s linear 0s infinite normal none running init_loading2;
}

.init_loading_bg .init_loading .poweredBy {
    bottom: 5%;
    position: absolute;
    font-family: font_load;
    color: darkgray;
    font-size: 15px;
    font-family: RHRCN-H;
    transition-duration: 0.5s;
}

@Keyframes init_loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@Keyframes init_loading2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@Keyframes routerLoading {
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: 70;
    }

    50% {
        stroke-dashoffset: 330;
    }

    100% {
        stroke-dashoffset: 70;
        transform: rotate(720deg);
    }
}

@Keyframes Eye8_logoA1 {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(-20px);
    }

    50% {
        transform: translateX(20px);
    }

    60% {
        transform: translateX(20px);
    }

    60% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
    }
}